<ul class="nav nav-tabs pt-2" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Compare Locale</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Read Me</a>
  </li>
</ul>

  <div class="tab-content" id="myTabContent">
    <% if @repo.compared? %>
      <% if @repo.compare != {}%>
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <%= render 'accordion', repo: @repo %>
        </div>
      <% elsif !@repo.locale_exist? %>
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab"><h4 class="text-primary pt-3">We would like to inform that we only support for repo with locale file follow Rails structure</h4></div>
      <% elsif @repo.multi_language_support? %>
        <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab"><h4 class="text-primary pt-3">Oops, <%=@repo.name %> not provide multi-language support</h4></div>
      <% end %>
    <% elsif !@repo.locale_exist?%>
      <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab"><h4 class="text-primary pt-3">We would like to inform that we only support for repo with locale file follow Rails structure</h4></div>
    <% else %>
      <div><h4 class="text-primary pt-3">The process is about to compare. Please take a while ...</h4></div>
    <% end %>
    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab"><%= render 'description', repo: @repo %></div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><%= markdown(@repo.readme) %></div>
  </div>
