<table class="table table-striped" >
  <thead>
    <tr class="text-center border-off">
      <th></th>
      <th class="text-primary">Locale</th>
      <th></th>
      <th></th>
      <th class="text-left text-primary">Missing Keys</th>
      <th class="text-danger">Total: <%= @repo.compare.keys.count > 0 ?  "#{@repo.compare.keys.count} locales missing" : "#{@repo.compare.keys.count} locale missing"%></th>
      <th><%= render 'action', repo: repo %> </th>
    </tr>
  </thead>
  <tbody>
    <% @repo.compare.each do |locale, missing_keys|  %>
      <tr>
        <td class="text-center"></td>
        <td class="text-center"><%= locale %></td>
        <td></td>
        <td></td>
        <td>
          <% missing_keys.each do |element|  %>
            <%= element %><br>
          <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
