<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello there</p>
    <p>
      The <%= @repo.name.capitalize %> had the keys which are not translated to correspond with locale 'en.yml', please take a look at <%= link_to "Show", repo_url(@repo)%> for more detail.
    </p>
    <p>Thank you</p>
  </body>
</html>

