<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.email %></h1>
    <p>
      We would like to inform that file locales on your repo
       <%= @repo.name %> had missed keys from 'en.yml', please take a look at below for more detail
    </p>
    <p>
      <%= render 'repos/table', repo: @repo %>
    </p>
    <p>Thank you</p>
  </body>
</html>

